OPEN_ROUTER_API_KEY=your_open_router_api_key_here
GEMINI_API_KEY=KEY
LLM_SERVICE_PORT=1234
ACCESS_KEY=YES
EXPENSE_SERVICE_ENDPOINT=localhost:50056
JWT_SECRET_KEY=secret
WORKER_BATCH_SIZE=10
DBHOST=localhost
DBUSER=user
DBPASSWORD=password
DBPORT=5432
DBSSLMODE=disable
DBTIMEZONE=UTC
DBNAME=name
