STORAGE_ENDPOINT=https://your-object-storage-url.com
STORAGE_REGION=your-region
STORAGE_ACCESS_KEY=access-key
STORAGE_SECRET_KEY=secret-key
STORAGE_BUCKET=storage-bucket
WALLET_SERVICE_TOKEN=your-custom-token
SERVICE_PORT=3030
EXPENSE_SERVICE_PORT=50020
USER_SERVICE_PORT=50052
